<div id="errors">
<% if @job.errors.any? %>
<ul>
  <% @job.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
</div>

<%= render partial: "form", locals: {submission_button: 'Atualizar Vaga'} %>
